@import '~bootstrap/scss/bootstrap';

$color-size-width: 200px;
$color-size-height: $color-size-width;
$color-size: $color-size-width;

@mixin colors {

  // border: 1px solid grey;
  margin: 0;
  min-height: $color-size-height;
  transition: .5s ease;
  width: calc(100vw / 5);
  z-index: -3;
}

body {
  height: calc(calc(100vh) - 60px);
  z-index: -2;
}

.navbar {
  background-color: rgba(255,255,255,0.8);
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px 0;
  z-index: 3;
}

.sidebar {
  background-color: #111;
  box-shadow: rgba(0, 0, 0, 0.5) 4px 0px 10px 0;
  color: #d2d2d2;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
  position: fixed;
  top: 0;
  transition: .5s;
  width: 0;
  z-index: 4;

  .palettes-close {
    cursor: pointer;
    font-size: 36px;
    margin-left: 50px;
    position: absolute;
    right: 25px;
    top: 0;
  }

  .palettes-wrapper {
    transition: .8;
    width: 250px;
    padding: 10px;
  }

  h3 {
    position: relative;
  }

  .divider {
    height: 1px;
    width: 100%;
    background-color: #d2d2d2;
  }
}

.options {
  background-color: #fdfdfd;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  margin-top: 56px;
  width: 100%;

  .generate-button,
  .palettes-button,
  .save-button {
    align-self: flex-end;
    border: none;
    margin: 2px;
    position: relative;
    z-index: 2;
  }
}

.dropdown-toggle {
  &::after {
    display: none;
  }
}

.round {
  border-radius: 100px;
}

.hamburger::after,
.hamburger {
  background-color: white;
  content: '';
  display: block;
  height: 2px;
  margin: 4px 0;
  width: 20px;
}

.hamburger::before {
  background-color: white;
  content: '';
  display: block;
  height: 2px;
  margin: 2px 0;
  transform: translateY(-6px);
  width: 20px;
}

.message {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  position:absolute;
  width: 100vw;
  z-index: 1;
}

.sign-up-failure{
  display: inline-block;
  margin: 0 0 0 15px;
}

.sign-in-failure-message {
  height: 20px;
  margin-bottom: 5px;
  transform: translateX(-13px);
  width: 100px;
}

.change-pw-failure-message {
  height: 20px;
  margin-bottom: 5px;
}

.colors {
  display: flex;
  height: calc(calc(100%) + 64px);
  margin-top: -100px;
  position: relative;
  width: 100vw;
  z-index: -3;


  .colors-wrapper {
    align-items: stretch;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: auto;
    max-width: 100vw;
    position: relative;

    .first-color,
    .second-color,
    .third-color,
    .fourth-color,
    .fifth-color {
      @include colors
    }
  }
}

.color-codes-wrapper {
  display: flex;
  background: none;
  font-size: 30px;
  height: 150px;
  width: 100%;
  position: absolute;
  justify-content: space-around;
  top: calc(calc(100%) - 150px);

  .color-codes {
    width: calc(calc(100%)/5.3);
    display: flex;
    justify-content: center;
    align-content: center;

    .hex-code {
      background: none;
      border: none;
      height: 25px;
      width: calc(calc(500%)/8);
      color: white;
    }
  }

}

.color-section {
  border: 1px solid #a2a2a2;
  border-radius: 5px;
  margin: 10px 2px;

  .delete-palette,
  .edit-palette {
    border: 1px dotted #d2d2d2;
    cursor: pointer;
    font-size: 20px;
    padding: 0 5px;
  }

  .content {
    color: white;
    display: flex;
    justify-content: center;
    height: 25px;
    margin-bottom: 20px;
    width: 100%;
    z-index: 10;

    .inner-content {
      display: flex;
      margin-bottom: 20px;

      .small-square {
        border-radius: 5px;
        height: 35px;
        width: 35px;
        z-index: 11;
      }
    }
  }
}

.edit-modal {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

    .color-section-edit {
      width: 100%;

      .inner-content {
        display: flex;
        justify-content: center;
        padding: 10px;
        width: 100%;
      }

      .small-square {
        height: 200px;
        width: calc(100%);
        z-index: 11;
      }
    }

    .editor-input-wrap {
      display: flex;
      justify-content: space-between;
      height: 400px;
      width: 400px;
    }
}
