@import '~bootstrap/scss/bootstrap';


body {
  height: 100vh;
  margin-top: 60px;
}

.dropdown-toggle {
  &::after {
    display: none;
  }
}

.round {
  border-radius: 100px;
}

.hamburger::after,
.hamburger {
  background-color: white;
  content: '';
  display: block;
  height: 2px;
  margin: 4px 0;
  width: 20px;
}

.hamburger::before {
  background-color: white;
  content: '';
  display: block;
  height: 2px;
  margin: 2px 0;
  transform: translateY(-6px);
  width: 20px;
}

.message {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100vw;
}

.sign-up-failure{
  display: inline-block;
  margin: 0 0 0 15px;
}
